
.drp_label{
    user-select: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.drp_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;
    display: none;
}

.drp_ul li{
    position: relative;
    cursor: pointer;
}

.drp_ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}


/* list disappearance */
.drp_ul ul {
    left: 100%;
    top: 0;
}

/* list appareance */
input:checked+ul.drp_ul, li:hover>ul.drp_ul {
    display: block;
    position: absolute;
}

.drp_ul li a:hover {
    background: #2c3e50;
}

.drp_ul li:hover a {
    background: #1bc2a2;
}

.drp_ul li:hover li a:hover {
    background: #2c3e50;
}

/* checkbox styles */

input[id^="lbl"]{
    appearance: none;
}